
.auth-card-container{
    background-color: #ffffff;
    width: 700px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    margin: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.auth-card-container.upload{
    height: 700px;
}

.auth-card-container label{
    margin-bottom: 30px;
}


.auth-card-container input, .auth-card-container textarea{
    background-color: #f3f4f6;
    width: 400px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 17px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 6px;
}

.auth-card-container textarea{
    resize: none;
}
.auth-card-container .card-button{
    width: 450px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.auth-card-container .card-button button{
    width: 95%;
}

@media screen and (max-width: 735px) {
    .auth-card-container{
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .auth-card-container{
        width: 100%;
    }
    .auth-card-container .card-button{
        width: 95%;
    }
    .auth-card-container input, .auth-card-container textarea{
        width: 300px;
    }
}