
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px 20px 8px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
}
